<html>

<head>
	<title>Practica</title>
	<link rel="stylesheet" href="./bulma.min.css">
	<script src="./vue.min.js"></script>
	<script src="./jquery.min.js"></script>
</head>

<body>
	<div id="app" class="section">
		<div class="container">
			<h1 @click="cargar" class="title">Practica</h1>
			<div class="container">
				<div class="content">
					<table class="table">
						<tr v-for="(elem,index) in imgs" :key="index">
							<td>
								<img class="image" height="300px" width="300px" :src="elem" alt="">
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				ip1: [, , , ],
				ip2: [, , , ],
				reso: 0,
				imgs: []
			},
			methods: {
				cargar() {
						$.ajax({
							type: "POST",
							url: "/ObtenerImagenes",
							data: {
								ip1: this.ip1[3],
								ip2: this.ip2[3],
								res: this.reso
							},
							success: (data) => {
								var imgs = data.split(",")
								var imgsaux = []
								for (var img of imgs) {
									if (img !== "") {
										imgsaux.push(img+"?"+new Date().getTime())
									}
								}
								this.imgs = imgsaux
							}
						});
						
				}
			},created() {
				this.interval = setInterval(() => this.cargar(), 2000);
			},
		})
	</script>
</body>
</html>